*{
    padding:1;
    margin:1;
    font-family: Arial, 'Arial Narrow Bold', sans-serif;
}

.background {
    background-color: rgb(62, 105, 110);
    height:auto;
    padding: top 1px;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin:0 auto;
    display:grid;
    
}

.tile {
    border: 1px solid white;
    min-width:  100px;
    min-height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color:red;
}

.playerO {
    color:blue;
}

.controls {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: red;
    color: whitesmoke;
    padding:7px;
    border-radius: 7px;
    border:0;
    font-size: large;
    margin: left 1px;
    cursor: pointer;
}